.shift-row {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px; 
}
.holiday-text {
    color: #ff4d8d;
}
.past-text {
    color: #888;
}


// 自分のスタイル
.container {
  width: 90%;
  margin: 0 auto;
}
body {
  font-family: 
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "Noto Sans",
    sans-serif;
    width: 100vw;
    height: 100vh;
    .kousintyu {
        color: #01b6ff;
        line-height: 100vh;
        font-weight: 600;
        font-size: 20px;
        text-align: center;
    }
    #shift-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        .shift-row {
            width: 200px;
            justify-content: flex-start;
            display: inline-flex;
            align-items: center;
            gap: 10px;
            > span {
                text-align: center;
            }
        }
    }
}

