.shift-row {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px; 
}
.kousintyu {
    color: #01b6ff;
    font-weight: bold;
} /* 更新中のスタイル */
.holiday-text {
    color: #ff4d8d;
}
.past-text {
    color: #888;
}